*{
    margin: 0px;
    padding: 0px;
}

.home{
    width: 100vw;
    height: 100vh;
    background-color: #111111;  
}


.heading{   
   position: absolute;
   top: 25vh;

   padding-left: 40px;
}

h3{
    color: white;
    display: flex;
    position: absolute;
    top: 40vh;
    padding-left: 40px;
}

.buttons_home{
    padding: 40px;
    position: absolute;
    top: 55vh;
   display: flex;
   float: left;
   gap: 25px;
}

.nav-btn{
    position: relative;
    left: 85vw;

    padding: 8px;
    margin: 5px;
    top: 30px;   
}

.nav-btn:hover {
    background-color: white;
}

.welcom-home{
    font-size: x-large;
    font-weight: bolder;
    color: #00FC11;
    display: flex;
    justify-content:flex-start;
    padding-left: 40px;
    padding-top:20px ;
    
}

.interviewInstruction{
    position: absolute;
    width: 20vw;
    bottom: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    margin-left: 40px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 180px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-content {
  display: block;
}